name: Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: [push]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    # Build products
    - name: Install TeX packages
      run: |
        sudo apt update
        sudo apt install pandoc ruby-bundler fonts-cmu
    - name: Setup TeX Live
      uses: teatimeguest/setup-texlive-action@v3
      with:
        packages: scheme-basic
    - name: Build slides and handouts
      run: make -j 4
    - name: Install jekyll
      run: bundle install --gemfile=./website/Gemfile
    - name: Build jekyll
      run: cd website && bundle exec jekyll build
    - name: Proof HTML
      run: cd website/_site && bundle exec htmlproofer --ignore_urls "/ml-for-bioe/" --ignore_status_codes "412, 503, 403" --assume-extension .
    - name: Upload lecture notes
      uses: actions/upload-artifact@v3
      with:
        name: lectures
        path: lectures/*.pdf
    - name: Upload artifact
      if: github.ref == 'refs/heads/master'
      uses: actions/upload-pages-artifact@v2
      with:
        path: 'website/_site'
    - name: Deploy to GitHub Pages
      if: github.ref == 'refs/heads/master'
      id: deployment
      uses: actions/deploy-pages@v2
